@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap");
ion-icon {
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #17A98F;
  font-size: 5em;
}
ion-icon:hover {
  cursor: pointer;
  color: rgba(23, 169, 142, 0.8784313725);
}

section {
  margin-top: 22px;
  height: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section .container-about-me {
  padding: 22px;
  height: 100%;
  width: 1222px;
  display: flex;
  flex-direction: row;
}
section .container-about-me .box-description {
  height: 100%;
  width: 50%;
  padding: 62px 22px;
}
section .container-about-me .box-description:nth-child(1) {
  margin-right: 22px;
}
section .container-about-me .box-description h2 {
  color: #f5f2f2;
  margin-bottom: 22px;
  font-size: 2.2em;
  font-weight: 400;
}
section .container-about-me .box-description ul {
  list-style-type: none;
}
section .container-about-me .box-description ul li {
  margin-bottom: 22px;
}
section .container-about-me .box-description ul li h4 {
  font-size: 1.4em;
  color: #17A98F;
  font-weight: 300;
}
section .container-about-me .box-description ul li h4 span {
  color: #f5f2f2;
  font-size: 0.9em;
}
section .container-about-me .box-description p {
  color: #f5f2f2;
  font-size: 1em;
  margin-bottom: 12px;
}
section .container-images {
  height: 100%;
  width: 372px;
  padding: 24px 22px;
}
section .container-images .box-image {
  background-color: green;
  width: 100%;
  height: 48%;
}
section .container-images .box-image:nth-child(1) {
  margin-bottom: 22px;
}
section .container-images .box-image img {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
}

section .container-hobby {
  display: flex;
  flex-direction: row;
  width: 100%;
}
section .container-hobby .title-section p {
  margin-top: 82px;
  font-size: 2em;
  color: aliceblue;
  font-weight: bold;
  width: 400px;
}
section .container-hobby .container-boxes-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .container-hobby .container-boxes-links .boxe {
  display: flex;
  flex-direction: row;
  width: 80%;
}
section .container-hobby .container-boxes-links .box-link {
  height: 220px;
  width: 50%;
  margin: 12px;
}

.container-hobby {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container-hobby .title-hobby {
  width: 400px;
}
.container-hobby .title-hobby h2 {
  padding-top: 42px;
  color: aliceblue;
  font-size: 2em;
}
.container-hobby .box-images-hobby {
  width: 100%;
  padding-top: 42px;
}
.container-hobby .box-images-hobby ul {
  list-style-type: none;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}
.container-hobby .box-images-hobby ul li {
  background-color: #2E2E2E;
  height: 220px;
  width: 278px;
}
.container-hobby .box-images-hobby ul li:nth-child(2) {
  margin: 0 12px;
}
.container-hobby .box-images-hobby ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #3A3A3A;
  color: aliceblue;
  height: 100vh;
  padding: 2em;
}
body #wrapper {
  position: relative;
  height: 100%;
  max-width: 82em;
  margin: auto;
}
body #wrapper header {
  height: 40px;
  display: flex;
  align-items: center;
}
body #wrapper header #home-page {
  cursor: pointer;
  padding-left: 22px;
  text-decoration: none;
  color: inherit;
}
body #wrapper header #home-page h1 {
  font-size: 3em;
  margin-bottom: 22px;
}
body #wrapper header #home-page h1 span {
  color: #17A98F;
}
body #wrapper .bg-box {
  background-color: #2E2E2E;
  border: 2px solid #17A98F;
  border-radius: 22px;
}
body #wrapper .box-link {
  background-color: #2E2E2E;
  border: 2px solid #1177AA;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body #wrapper .box-link a {
  color: #09CECE;
  text-decoration: none;
  font-size: 1.2em;
}
body #wrapper .box-link:hover {
  background-color: rgba(46, 46, 46, 0.4);
}

/*# sourceMappingURL=main.css.map */
